<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}CVIM is Curriculum Vitae improved{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	{% load staticfiles %}
    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons 
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="static/ico/favicon.png">-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{% url 'cvimapp.views.index'%}">CV<i>im</i></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{% url 'cvimapp.views.list_cvs'%}"><i class="icon-file"></i> CVs</a></li>
              <li><a href="{% url 'cvimapp.views.list_experiences'%}"><i class="icon-magic"></i> experience</a></li>
              <li><a href="{% url 'cvimapp.views.list_friends'%}"><i class="icon-user"></i> friends</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
	{% block content %}{% endblock %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% block footer %}{% endblock %}

  </body>
</html>
