{% extends "base.html" %}
{% block content %}
<div class="hero-unit">
      <h2><i class="icon-magic"></i> experiences <small>add and show us all your magic powers</small></h2>  
    </div>
    <div class="container">
      <div class="input-append">
        <input class="span9" id="txt_add_exp" type="text" placeholder="Add an experience: helped save the world for 3 years at the justice league as 'Junior Super Hero'">
        <button id="btn_add_exp" class="btn btn-primary" type="button">Go!</button>
      </div>
      <div class="row">
        <div class="span8">
          <div id="div_experiences"></div>
        </div>
         
      </div>

    </div> <!-- /container -->
{% endblock %}
{% block footer %}
    <!-- JQuery UI -->
    {% load staticfiles %}
    <script src="{% static 'js/experience.js' %}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>

    <script type="text/javascript">
      function callAddExperience(){
        var text = $('#txt_add_exp').val();
          $('#txt_add_exp').val('');
          addExperience(text, '#div_experiences');
      }
      $('#btn_add_exp').click(function(){
          callAddExperience();
      });
      $('#txt_add_exp').change(function(){
          callAddExperience();
      })

    </script>
{% endblock %}