{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="hero-unit">
		<h1>
			Welcome to <b>CV</b>IM
		</h1>
		<p>CVIM helps you build and customize your curriculum vitae the
			easy way</p>
	</div>
	<div class="row">
		<h2></h2>
		<div class="span4">
			<h2>Step 1: List your skills</h2>
			<p>First thigs first: write down everything you've ever done:
				Programming skills, job experience, etc. Show CVIM all your magic
				powers and we will help you land the job you want</p>
		</div>
		<div class="span4">
			<h2>Step 2: Build your CV</h2>
			<p>So what if you want to work at Google or Rovio. Google is all
				about engineering and Rovio is all about showing cool stuf so you
				know you need two build 2 CV's. CVIM let's you choose which of your
				skills you want to add to each job application and export it as a
				pdf.</p>
		</div>
		<div class="span4">
			<h2>Step 3: Share and learn</h2>
			<p>Ever wondered how your friend's cv looks like? well now you
				can! Visit your friend's CVIM profiles and check out their CV's</p>
		</div>
	</div>
</div>
<!-- /container -->
{% endblock %}
